<h2>Tao moi nhan vien</h2>
<div>
  <form [formGroup]="createEmployeeForm">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input
        matInput
        formControlName="name"
        placeholder="may nhap ten vao di"
      />
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="may nhap email di" />
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" />
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width">
      <mat-label>Phone</mat-label>
      <input matInput type="text" formControlName="phone" />
      <mat-hint
        style="color: red"
        *ngIf="
          createEmployeeForm.get('phone')?.invalid &&
          createEmployeeForm.get('phone')?.touched
        "
      >
        <span *ngIf="createEmployeeForm.get('phone')?.errors?.['required']"
          >Số điện thoại là bắt buộc.</span
        >
        <br />
        <span *ngIf="createEmployeeForm.get('phone')?.errors?.['invalidPhone']">
          Số điện thoại không hợp lệ. Số điện thoại phải gồm 10 chữ số và bắt
          đầu bằng 03, 05, 07, hoặc 09.
        </span>
      </mat-hint>
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width">
      <mat-label>Salary</mat-label>
      <input matInput type="text" formControlName="salary" />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Birthday</mat-label>
      <input
        matInput
        [matDatepicker]="birthdayPicker"
        formControlName="birthday"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="birthdayPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #birthdayPicker></mat-datepicker>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Join Date</mat-label>
      <input matInput [matDatepicker]="joinpicker" formControlName="joindate" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="joinpicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #joinpicker></mat-datepicker>
    </mat-form-field>
    <br />
    <button mat-raised-button (click)="createEmployee()">Create</button>
  </form>
</div>
